{% set ns = namespace(user_start='[INST] ') %}{{ bos_token }}{% for message in messages %}{% if message["role"] == 'system' or message['role'] == 'user' %}{{ ns.user_start + message['content'].strip() + ' ' }}{% set ns.user_start = '\n\n' %}{% else %}{{ '[/INST] ' + message['content'].strip() + ' ' + eos_token }}{% set ns.user_start = '[INST] ' %}{% endif %}{% if loop.last and message['role'] != 'assistant' %}{{ '[/INST] ' }}{% endif %}{% endfor %}